---
import Card from "../components/Card.astro";
import Layout from "../components/Layout.astro";
import { Discord } from '@icons-pack/react-simple-icons'
import { ArrowRightIcon } from '@heroicons/react/outline'
import { GetProviders, GetUser } from "../../util/user";
import DiscordProvider from "../components/Providers/DiscordProvider.astro";
import LastfmProvider from "../components/Providers/LastfmProvider.astro";
import RobloxProvider from "../components/Providers/RobloxProvider.astro";

const user = await GetUser(process.env, Astro);
const providers = await GetProviders(process.env, Astro);
---

<Layout>
	<Card>
		{user ? <>
			<h1 class="text-2xl font-bold text-center text-white">
				Welcome back, {user.provider_data.username}!
			</h1>
			<a href={import.meta.env.PUBLIC_DASHBOARD_URL}
				class="flex items-center px-10 py-2 text-lg font-black text-center text-white bg-gray-700 rounded-md gap-x-4">
				<ArrowRightIcon className="w-5 h-5 text-white" color="white" />
				<span class="w-full text-center">
					Continue to Dashboard
				</span>
			</a>
			<p class="w-full font-semibold text-center text-gray-100">
				Connected accounts
			</p>

			<div class="grid justify-center space-y-4">
				<DiscordProvider user={user} />
				<RobloxProvider user={providers.find((p)=> p.type === 'roblox')} />

					<LastfmProvider user={providers.find((p)=> p.type === 'lastfm')} />

						<form action={`${import.meta.env.PUBLIC_API_ENDPOINT}/api/v1/auth/logout/discord`} method="GET"
							class="w-full">
							<input hidden readonly name="redirect" value={Astro.site} />
							<button
								class="w-full px-6 py-2 text-lg font-black text-center text-white bg-red-500 rounded-md gap-x-4"
								type="submit">
								Sign out
							</button>
						</form>
			</div>

		</> :
		<>
			<h1 class="text-2xl font-bold text-center text-white">
				Please sign in
			</h1>

			<div class="flex justify-center space-y-4">
				<form action={`${import.meta.env.PUBLIC_API_ENDPOINT}/api/v1/auth/login/discord?redirect=${Astro.site}`}
					method="GET">
					<input hidden readonly name="redirect" value={Astro.site} />
					<button
						class="flex items-center px-10 py-2 text-lg font-semibold text-white bg-indigo-500 rounded-md gap-x-4"
						type="submit">
						<Discord class="w-5 h-5 text-white" color="white" />
						Sign in with Discord
					</button>
				</form>
			</div>
		</>}
	</Card>
</Layout>